### Pattern Matching Problems

1. Write the Python code to print the pattern

            1  
            2 2  
            3 3 3  
            4 4 4 4  
            5 5 5 5 5

In [1]:
for i in range(1,6):
  for j in range(i):
    print(i, end = " ")

  print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

2. Write the Python code to print the pattern

        1

        1 2

        1 2 3

        1 2 3 4

        1 2 3 4 5

In [3]:
for i in range(1,6):
  for j in range(1, i+1):
    print(j, end = " ")

  print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

3. Write the Python code to print the pattern

        1 1 1 1 1

        2 2 2 2

        3 3 3

        4 4
          
        5

In [5]:
for i in range(1, 6):
  for j in range(6-i):
    print(i, end=" ")
  print()

1 1 1 1 1
2 2 2 2
3 3 3
4 4
5

4. Write the Python code to print the pattern

        5 5 5 5 5

        5 5 5 5

        5 5 5

        5 5

        5

In [9]:
for i in range(5, 0, -1):
  for j in range(0, i):
    print('5', end=" ")
  print()

5 5 5 5 5
5 5 5 5
5 5 5
5 5
5

5. Write the Python code to print the pattern

        0 1 2 3 4 5

        0 1 2 3 4

        0 1 2 3

        0 1 2
        
        0 1

In [12]:
for i in range(5, 0, -1):
  for j in range(0, i+1):
    print(j, end=" ")

  print()

0 1 2 3 4 5
0 1 2 3 4
0 1 2 3
0 1 2
0 1

6. Write the Python code to print the pattern

        1

        3 3

        5 5 5

        7 7 7 7
        
        9 9 9 9 9

In [14]:
num = 1

for i in range(1, 6):
  for j in range(i):
    print(num, end = "")

  print()
  num=num+2

1
33
555
7777
99999

7. Write the Python code to print the pattern

        5 5 5 5 5

        4 4 4 4

        3 3 3

        2 2

        1

In [16]:
for i in range(5, 0, -1):
  for j in range(0, i):
    print(i, end=" ")

  print()

5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

8. Write the Python code to print the pattern

          1

          2 1

          3 2 1

          4 3 2 1
          
          5 4 3 2 1

In [18]:
for i in range(1, 6):
    for j in range(i, 0, -1):
        print(j, end=' ')
    print()

1
2 1
3 2 1
4 3 2 1
5 4 3 2 1

9. Write the Python code to print the pattern

        5 4 3 2 1

        4 3 2 1

        3 2 1

        2 1

        1

In [20]:
for i in range(5, 0, -1):
  for j in range(i, 0, -1):
    print(j, end=" ")

  print()

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

10. Write the Python code to print the pattern

        1

        3 2

        6 5 4

        10 9 8 7

In [40]:
rows = 4
num = 1

for i in range(1, rows + 1):
    start = i * (i + 1) // 2
    for j in range(start, start - i, -1):
        print(j, end=" ")
    print()

1
3 2
6 5 4
10 9 8 7

11. Write the Python code to print the pattern

                1

              1 2

            1 2 3

          1 2 3 4

        1 2 3 4 5

In [39]:
rows = 5

for i in range(1, rows + 1):
    print("  " * (rows - i), end="")
    for j in range(1, i + 1):
        print(j, end=" ")
    print()

        1
      1 2
    1 2 3
  1 2 3 4
1 2 3 4 5

12. Write the Python code to print the pattern

        1

        1 1

        1 2 1

        1 3 3 1

        1 4 6 4 1

        1 5 10 10 5 1
        
        1 6 15 20 15 6 1

In [38]:
rows = 7

for i in range(rows):
    num = 1
    for j in range(i + 1):
        print(num, end=" ")
        num = num * (i - j) // (j + 1)
    print()

1
1 1
1 2 1
1 3 3 1
1 4 6 4 1
1 5 10 10 5 1
1 6 15 20 15 6 1

13. Write the Python code to print the pattern

        1 2 3 4 5

        2 2 3 4 5

        3 3 3 4 5

        4 4 4 4 5
        
        5 5 5 5 5

In [37]:
rows = 5

for i in range(1, rows + 1):
    for j in range(1, rows + 1):
        if j < i:
            print(i, end=" ")
        else:
            print(j, end=" ")
    print()

1 2 3 4 5
2 2 3 4 5
3 3 3 4 5
4 4 4 4 5
5 5 5 5 5

14. Write the Python code to print the pattern

        1  
        2  4  
        3  6  9  
        4  8  12  16  
        5  10  15  20  25  
        6  12  18  24  30  36  
        7  14  21  28  35  42  49  
        8  16  24  32  40  48  56  64

In [36]:
rows = 8

for i in range(1, rows + 1):
    for j in range(1, i + 1):
        print(f"{i * j:<4}", end=" ")
    print()

1
2    4
3    6    9
4    8    12   16
5    10   15   20   25
6    12   18   24   30   36
7    14   21   28   35   42   49
8    16   24   32   40   48   56   64

15. Write the Python code to print the pattern

        *

        * *

        * * *

        * * * *
        
        * * * * *

In [35]:
rows = 5

for i in range(1, rows + 1):
    print("* " * i)

*
* *
* * *
* * * *
* * * * *

16. Write the Python code to print the pattern

          
              *
            * *
          * * *
        * * * *
      * * * * *

In [34]:
rows = 5

for i in range(1, rows + 1):
    print(" " * (rows - i) * 2 + "* " * i)

        *
      * *
    * * *
  * * * *
* * * * *

17. Write the Python code to print the pattern

        * * * * *  
        * * * *  
        * * *  
        * *  
        *

In [33]:
rows = 5

for i in range(rows, 0, -1):
    print(" " + "* " * i)

 * * * * *
 * * * *
 * * *
 * *
 *

18. Write the Python code to print the pattern

        * * * * * *
         * * * * *
          * * * *
           * * *
            * *
             *

In [29]:
rows = 6

for i in range(rows, 0, -1):
    print(" " * (rows - i) + "* " * i)

* * * * * *
 * * * * *
  * * * *
   * * *
    * *
     *

19. Write the Python code to print the pattern

        *****
         ****
          ***
           **
            *

In [28]:
rows = 5

for i in range(rows, 0, -1):
    print(" " * (rows - i) + "*" * i)

*****
 ****
  ***
   **
    *

20. Write the Python code to print the pattern

            *   
           *  *   
          *  *  *   
         *  *  *  *   
        *  *  *  *  *   
       *  *  *  *  *  *   
      *  *  *  *  *  *  *

In [27]:
rows = 7

for i in range(1, rows + 1):
    print(" " * (rows - i) + "*  " * i)

      *
     *  *
    *  *  *
   *  *  *  *
  *  *  *  *  *
 *  *  *  *  *  *
*  *  *  *  *  *  *

21. Write the Python code to print the pattern

      *
        * *
          * * *
            * * * *
              * * * * *
                * * * * * *

                * * * * * *
              * * * * *
            * * * *
         * * *
      * *
    *

In [26]:
rows = 6

for i in range(1, rows + 1):
    print(" " * i + "* " * i)

print()

for i in range(rows, 0, -1):
    print(" " * i + "* " * i)

 *
  * *
   * * *
    * * * *
     * * * * *
      * * * * * *

      * * * * * *
     * * * * *
    * * * *
   * * *
  * *
 *

22. Write the Python code to print the pattern

      *
      * *
      * * *
      * * * *
      * * * * *
      * * * *
      * * *
      * *
      *

In [24]:
rows = 5


for i in range(1, rows + 1):
    print("  *" * i)


for i in range(rows - 1, 0, -1):
    print("  *" * i)

  *
  *  *
  *  *  *
  *  *  *  *
  *  *  *  *  *
  *  *  *  *
  *  *  *
  *  *
  *

23. Write the Python code to print the pattern

           *
          * *
        * * *
      * * * *
    * * * * *
      * * * *
        * * *
          * *
           *

In [23]:
rows = 5


for i in range(1, rows + 1):
    print("  " * (rows - i) + "* " * i)

for i in range(rows - 1, 0, -1):
    print("  " * (rows - i) + "* " * i)

        *
      * *
    * * *
  * * * *
* * * * *
  * * * *
    * * *
      * *
        *

24. Write the Python code to print the pattern

      * * * * *
       * * * *
        * * *
         * *
          *
          *
         * *
        * * *
       * * * *
       * * * * *

In [22]:
rows = 5

for i in range(rows, 0, -1):
    print(" " * (rows - i) + "* " * i)

for i in range(1, rows + 1):
    print(" " * (rows - i) + "* " * i)

* * * * *
 * * * *
  * * *
   * *
    *
    *
   * *
  * * *
 * * * *
* * * * *

25. Write the Python code to print the pattern

            *
           * *
          * * *
         * * * *
        * * * * *
       * * * * * *
        * * * * *
         * * * *
          * * *
           * *
            *

In [21]:
rows = 6
for i in range(1, rows + 1):
    print(" " * (rows - i) + "* " * i)

for i in range(rows - 1, 0, -1):
    print(" " * (rows - i) + "* " * i)

     *
    * *
   * * *
  * * * *
 * * * * *
* * * * * *
 * * * * *
  * * * *
   * * *
    * *
     *