#**`TASK:`**

## Factorial of a number using reduce function in python

In [11]:
from functools import reduce

def fact(num):
  if num == 0 or num == 1:
    return 1
  else:
    return reduce(lambda x,y: x*y, range(1,num+1))

fact(13)

6227020800

## # randomly arrange a bunch of students into groups of 5

## idea: 40 student name -> 5 groups -> randomly assign students into each group.

In [16]:
import random

students = [f"Student{i}" for i in range(1, 41)]

random.shuffle(students)

group_size = 8
num_groups = 5

for i in range(num_groups):
    group = students[i * group_size:(i + 1) * group_size]
    print(f"Group {i+1}: {group}")

Group 1: ['Student6', 'Student21', 'Student18', 'Student24', 'Student15', 'Student11', 'Student25', 'Student34']
Group 2: ['Student19', 'Student10', 'Student1', 'Student27', 'Student14', 'Student33', 'Student7', 'Student29']
Group 3: ['Student28', 'Student5', 'Student39', 'Student22', 'Student16', 'Student3', 'Student31', 'Student8']
Group 4: ['Student35', 'Student38', 'Student13', 'Student40', 'Student23', 'Student17', 'Student32', 'Student20']
Group 5: ['Student30', 'Student36', 'Student12', 'Student4', 'Student2', 'Student9', 'Student26', 'Student37']