# Module 3: Data Structures Assignments
## Lesson 3.2: Tuples
### Assignment 1: Creating and Accessing Tuples

Create a tuple with the first 10 positive integers. Print the tuple.

In [28]:
numbers = tuple(range(1, 11))

print(numbers)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

### Assignment 2: Accessing Tuple Elements

Print the first, middle, and last elements of the tuple created in Assignment 1.

In [3]:
print(f'first element: {numbers[0]}')
print(f'middle element: {numbers[4]}')
print(f'last element: {numbers[9]}')

first element: 1
middle element: 5
last element: 10

### Assignment 3: Tuple Slicing

Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

In [30]:
print(f'first 3 elements: {numbers[0:3]}')
print(f'last 3 elements: {numbers[-3:]}')
print(f'elements from index 2 to 5: {numbers[2:6]}')

first 3 elements: (1, 2, 3)
last 3 elements: (8, 9, 10)
elements from index 2 to 5: (3, 4, 5, 6)

### Assignment 4: Nested Tuples

Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

In [6]:
matrix = (
    (1, 2, 3),
    (4, 5, 6),
    (7, 8, 9)
)

print("Matrix:")
for row in matrix:
    print(row)

# Access and print the element at second row, third column
element = matrix[1][2]
print("Element at second row, third column:", element)

Matrix:
(1, 2, 3)
(4, 5, 6)
(7, 8, 9)
Element at second row, third column: 6

### Assignment 5: Tuple Concatenation

Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

In [8]:
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)

result = tuple1 + tuple2

print("Concatenated tuple:", result)

Concatenated tuple: (1, 2, 3, 4, 5, 6)

### Assignment 6: Tuple Methods

Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

In [10]:
numbers = (2, 4, 6, 2, 8, 2, 4, 6)

count_2 = numbers.count(2)

index_2 = numbers.index(2)

print("Tuple:", numbers)
print("Count of 2:", count_2)
print("Index of first occurrence of 2:", index_2)

Tuple: (2, 4, 6, 2, 8, 2, 4, 6)
Count of 2: 3
Index of first occurrence of 2: 0

### Assignment 7: Unpacking Tuples

Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

In [11]:
data = (10, 20, 30, 40, 50)

a, b, c, d, e = data

print("Unpacked variables:")
print("a:", a)
print("b:", b)
print("c:", c)
print("d:", d)
print("e:", e)

Unpacked variables:
a: 10
b: 20
c: 30
d: 40
e: 50

### Assignment 8: Tuple Conversion

Convert a list of the first 5 positive integers to a tuple. Print the tuple.

In [12]:
numbers_list = [1, 2, 3, 4, 5]

numbers_tuple = tuple(numbers_list)

print("Tuple:", numbers_tuple)

Tuple: (1, 2, 3, 4, 5)

### Assignment 9: Tuple of Tuples

Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

In [31]:
matrix = (
    (1, 22, 3),
    (4, 5, 16),
    (17, 8, 29)
)

print("Tuple of tuples:")
print(matrix)

Tuple of tuples:
((1, 22, 3), (4, 5, 16), (17, 8, 29))

### Assignment 10: Tuple and List

Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

In [14]:
numbers = (1, 2, 3, 4, 5)

numbers_list = list(numbers)

numbers_list.append(6)

updated_tuple = tuple(numbers_list)

print("Updated tuple:", updated_tuple)

Updated tuple: (1, 2, 3, 4, 5, 6)

### Assignment 11: Tuple and String

Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

In [34]:
text = "Hello"

char_tuple = tuple(text)

joined_string = ''.join(char_tuple)

print("Joined string:", joined_string)

Joined string: HelloWelcome

### Assignment 12: Tuple and Dictionary

Create a dictionary with tuple keys and integer values. Print the dictionary.

In [16]:
my_dict = {
    (1, 2): 10,
    (3, 4): 20,
    (5, 6): 30
}

print("Dictionary with tuple keys:")
print(my_dict)

Dictionary with tuple keys:
{(1, 2): 10, (3, 4): 20, (5, 6): 30}

### Assignment 13: Nested Tuple Iteration

Create a nested tuple and iterate over the elements, printing each element.

In [18]:
nested_tuple = (
    (1, 2, 3),
    (4, 5, 6),
    (7, 8, 9)
)

print("Elements in the nested tuple:")
for row in nested_tuple:
    for item in row:
        print(item)

Elements in the nested tuple:
1
2
3
4
5
6
7
8
9

### Assignment 14: Tuple and Set

Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

In [19]:
numbers = (1, 2, 2, 3, 4, 4, 5)


unique_numbers = set(numbers)

print("Set without duplicates:", unique_numbers)

Set without duplicates: {1, 2, 3, 4, 5}

### Assignment 15: Tuple Functions

Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.

In [35]:
def get_min(t):
    return min(t)

def get_max(t):
    return max(t)

def get_sum(t):
    return sum(t)

tuple1 = (4, 7, 1, 9, 3)

print("Tuple:", tuple1)
print("Minimum:", get_min(tuple1))
print("Maximum:", get_max(tuple1))
print("Sum:", get_sum(tuple1))

Tuple: (4, 7, 1, 9, 3)
Minimum: 1
Maximum: 9
Sum: 24