# Module 3: Data Structures Assignments
## Lesson 3.3: Sets
### Assignment 1: Creating and Accessing Sets

Create a set with the first 10 positive integers. Print the set.

In [1]:
set1 = set(range(1,11))

print(set1)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

### Assignment 2: Adding and Removing Elements

Add the number 11 to the set created in Assignment 1. Then remove the number 1 from the set. Print the modified set.

In [2]:
numbers = set(range(1, 11))

numbers.add(11)

numbers.remove(1)

print("Modified set:", numbers)

Modified set: {2, 3, 4, 5, 6, 7, 8, 9, 10, 11}

### Assignment 3: Set Operations

Create two sets: one with the first 5 positive integers and another with the first 5 even integers. Perform and print the results of union, intersection, difference, and symmetric difference operations on these sets.

In [3]:
set1 = {1, 2, 3, 4, 5}

set2 = {2, 4, 6, 8, 10}


union_set = set1.union(set2)
intersection_set = set1.intersection(set2)
difference_set = set1.difference(set2)
symmetric_diff_set = set1.symmetric_difference(set2)

print("Set 1:", set1)
print("Set 2:", set2)
print("Union:", union_set)
print("Intersection:", intersection_set)
print("Difference (set1 - set2):", difference_set)
print("Symmetric Difference:", symmetric_diff_set)

Set 1: {1, 2, 3, 4, 5}
Set 2: {2, 4, 6, 8, 10}
Union: {1, 2, 3, 4, 5, 6, 8, 10}
Intersection: {2, 4}
Difference (set1 - set2): {1, 3, 5}
Symmetric Difference: {1, 3, 5, 6, 8, 10}

### Assignment 4: Set Comprehensions

Create a new set containing the squares of the first 10 positive integers using a set comprehension. Print the new set.

In [4]:
squares = {x**2 for x in range(1, 11)}


print("Set of squares:", squares)

Set of squares: {64, 1, 4, 36, 100, 9, 16, 49, 81, 25}

### Assignment 5: Filtering Sets

Create a new set containing only the even numbers from the set created in Assignment 1 using a set comprehension. Print the new set.

In [5]:
numbers = set(range(1, 11))

even_numbers = {x for x in numbers if x % 2 == 0}

print("Even numbers set:", even_numbers)

Even numbers set: {2, 4, 6, 8, 10}

### Assignment 6: Set Methods

Create a set with duplicate elements and remove the duplicates using set methods. Print the modified set.

In [6]:
numbers_list = [1, 2, 2, 3, 4, 4, 5]

unique_numbers = set(numbers_list)

print("Set without duplicates:", unique_numbers)

Set without duplicates: {1, 2, 3, 4, 5}

### Assignment 7: Subsets and Supersets

Create two sets: one with the first 5 positive integers and another with the first 3 positive integers. Check if the second set is a subset of the first set and if the first set is a superset of the second set. Print the results.

In [7]:
set1 = {1, 2, 3, 4, 5}

set2 = {1, 2, 3}

is_subset = set2.issubset(set1)
is_superset = set1.issuperset(set2)

print("Set 1:", set1)
print("Set 2:", set2)

print("Is set2 a subset of set1", is_subset)
print("Is set1 a superset of set2", is_superset)

Set 1: {1, 2, 3, 4, 5}
Set 2: {1, 2, 3}
Is set2 a subset of set1 True
Is set1 a superset of set2 True

### Assignment 8: Frozenset

Create a frozenset with the first 5 positive integers. Print the frozenset.

In [8]:
f_set = frozenset(range(1, 6))

print("Frozenset:", f_set)

Frozenset: frozenset({1, 2, 3, 4, 5})

### Assignment 9: Set and List Conversion

Create a set with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a set. Print the resulting set.

In [9]:
numbers = set(range(1, 6))

numbers_list = list(numbers)
numbers_list.append(6)

updated_set = set(numbers_list)

print("Updated set:", updated_set)

Updated set: {1, 2, 3, 4, 5, 6}

### Assignment 10: Set and Dictionary

Create a dictionary with set keys and integer values. Print the dictionary.

In [10]:
my_dict = {
    frozenset({1, 2}): 10,
    frozenset({3, 4}): 20,
    frozenset({5, 6}): 30
}

print("Dictionary with frozenset keys:")
print(my_dict)

Dictionary with frozenset keys:
{frozenset({1, 2}): 10, frozenset({3, 4}): 20, frozenset({5, 6}): 30}

### Assignment 11: Iterating Over Sets

Create a set and iterate over the elements, printing each element.

In [11]:
numbers = {1, 2, 3, 4, 5}

print("Set elements:")
for num in numbers:
    print(num)

Set elements:
1
2
3
4
5

### Assignment 12: Removing Elements from Sets

Create a set and remove elements from it until it is empty. Print the set after each removal.

In [17]:
numbers = {1, 2, 3, 4, 5}

while numbers:
    removed = numbers.pop()
    print(f"Removed: {removed}, Remaining set: {numbers}")

Removed: 1, Remaining set: {2, 3, 4, 5}
Removed: 2, Remaining set: {3, 4, 5}
Removed: 3, Remaining set: {4, 5}
Removed: 4, Remaining set: {5}
Removed: 5, Remaining set: set()

### Assignment 13: Set Symmetric Difference Update

Create two sets and update the first set with the symmetric difference of the two sets. Print the modified first set.

In [19]:
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}

set1.symmetric_difference_update(set2)

print("Modified set1 (after symmetric difference):", set1)

Modified set1 (after symmetric difference): {1, 2, 5, 6}

### Assignment 14: Set Membership Testing

Create a set and test if certain elements are present in the set. Print the results.

In [14]:
numbers = {1, 2, 3, 4, 5}

check = [3, 6]

for num in check:
    if num in numbers:
        print(f"{num} is present in the set.")
    else:
        print(f"{num} is NOT present in the set.")

3 is present in the set.
6 is NOT present in the set.

### Assignment 15: Set of Tuples

Create a set containing tuples, where each tuple contains two elements. Print the set.

In [15]:
pair_set = {(1, 2), (3, 4), (5, 6)}

print("Set of tuples:", pair_set)

Set of tuples: {(1, 2), (3, 4), (5, 6)}