# Module 3: Data Structures Assignments
## Lesson 3.1: Lists
### Assignment 1: Creating and Accessing Lists

Create a list of the first 20 positive integers. Print the list.

In [6]:
list_1 = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]

print(list_1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

### Assignment 2: Accessing List Elements

Print the first, middle, and last elements of the list created in Assignment 1.

In [7]:
print(f'first element: {list_1[0]}')
print(f'middle element: {list_1[9]}')
print(f'last element: {list_1[19]}')

first element: 1
middle element: 10
last element: 20

### Assignment 3: List Slicing

Print the first five elements, the last five elements, and the elements from index 5 to 15 of the list created in Assignment 1.

In [9]:
print(f'first 5 elements: {list_1[0:5]}')
print(f'last 5 elements: {list_1[15:20]}')
print(f'elements from index 5 to 15: {list_1[5:15]}')

first 5 elements: [1, 2, 3, 4, 5]
last 5 elements: [16, 17, 18, 19, 20]
elements from index 5 to 15: [6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

### Assignment 4: List Comprehensions

Create a new list containing the squares of the first 10 positive integers using a list comprehension. Print the new list.

In [12]:
list_2 = [x**2 for x in range(1,11)]

print(list_2)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

### Assignment 5: Filtering Lists

Create a new list containing only the even numbers from the list created in Assignment 1 using a list comprehension. Print the new list.

In [14]:
even_list = [i for i in list_1 if i % 2 == 0 ]
print(even_list)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

### Assignment 6: List Methods

Create a list of random numbers and sort it in ascending and descending order. Remove the duplicates from the list and print the modified list.

In [22]:
nums = [10, 23, 56, 23, 78, 99, 23, 20]

## ascending order
nums.sort()
print(f'Ascending order: {nums}')

## descending order
nums.sort(reverse=True)
print(f'Descending order: {nums}')

## remove duplicates
nums_unique = set(list(nums))
print(f'After removing duplicates: {nums_unique}')

Ascending order: [10, 20, 23, 23, 23, 56, 78, 99]
Descending order: [99, 78, 56, 23, 23, 23, 20, 10]
After removing duplicates: {99, 10, 78, 20, 23, 56}

### Assignment 7: Nested Lists

Create a nested list representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

In [34]:
list_matrix = [
    [1,2,3],
    [4,5,6],
    [7,8,9]
]

print(list_matrix)

## second row third column element

print(f'second row third column element is: {list_matrix[1][2]}')

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
second row third column element is: 6

### Assignment 8: List of Dictionaries

Create a list of dictionaries where each dictionary represents a student with keys 'name' and 'score'. Sort the list of dictionaries by the 'score' in descending order and print the sorted list.

In [43]:
from ast import Lambda
student = [
    {'name': 'Chandana', 'score': 99},
    {'name': 'Chandu', 'score': 89},
    {'name': 'Chandrika', 'score': 59},
    {'name': 'Chand', 'score': 79},
    {'name': 'Charan', 'score': 69}
]

print(student)

# Sort the list of dictionaries by the 'score' in descending order and print the sorted list.
student_sorted = sorted(student, key = lambda x: x['score'], reverse = True)

for item in student_sorted:
  print(item)

#print(student_sorted)

[{'name': 'Chandana', 'score': 99}, {'name': 'Chandu', 'score': 89}, {'name': 'Chandrika', 'score': 59}, {'name': 'Chand', 'score': 79}, {'name': 'Charan', 'score': 69}]
{'name': 'Chandana', 'score': 99}
{'name': 'Chandu', 'score': 89}
{'name': 'Chand', 'score': 79}
{'name': 'Charan', 'score': 69}
{'name': 'Chandrika', 'score': 59}

### Assignment 9: Matrix Transposition

Write a function that takes a 3x3 matrix (nested list) as input and returns its transpose. Print the original and transposed matrices.

In [46]:
def transpose_matrix(matrix):
  transposed = [[matrix[j][i] for j in range(3)] for i in range(3)]
  return transposed

matrix = [
    [1,2,3],
    [4,5,6],
    [7,8,9]
]

print('original matrix is: ')
for i in matrix:
  print(i)

transposed = transpose_matrix(matrix)

print("transposed matrix is: ")
for i in transposed:
  print(i)

original matrix is:
[1, 2, 3]
[4, 5, 6]
[7, 8, 9]
transposed matrix is:
[1, 4, 7]
[2, 5, 8]
[3, 6, 9]

### Assignment 10: Flattening a Nested List

Write a function that takes a nested list and flattens it into a single list. Print the original and flattened lists.

In [49]:
def flatten_list(nested):
    flattened = [item for sub_list in nested for item in sub_list]
    return flattened

nested = [[1, 2], [3, 4], [5, 6]]

flattened = flatten_list(nested)

print("Original List:", nested)
print("Flattened List:", flattened)

Original List: [[1, 2], [3, 4], [5, 6]]
Flattened List: [1, 2, 3, 4, 5, 6]

### Assignment 11: List Manipulation

Create a list of the first 10 positive integers. Remove the elements at indices 2, 4, and 6, and insert the element '99' at index 5. Print the modified list.

In [60]:
numbers = list(range(1, 11))
print(f'original list: {numbers}')

# Remove elements at indices 6, 4, and 2
numbers.remove(3)
numbers.remove(5)
numbers.remove(7)

# Insert 99 at index 5
numbers.insert(5, 99)

# modified list
print("Modified List:", numbers)

original list: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Modified List: [1, 2, 4, 6, 8, 99, 9, 10]


### Assignment 12: List Zipping

Create two lists of the same length. Use the `zip` function to combine these lists into a list of tuples and print the result.

In [62]:
list1 = [1, 2, 3, 4]
list2 = [5, 6, 7 ,8]

combined_zip = list(zip(list1, list2))
print(combined_zip)

[(1, 5), (2, 6), (3, 7), (4, 8)]

### Assignment 13: List Reversal

Write a function that takes a list and returns a new list with the elements in reverse order. Print the original and reversed lists.

In [66]:
def func(list):
  return list[::-1]

list = [1,2,3,4,5,6,7]

print("Original list: ")
print(list)

print("Reversed list: ")
reversed_list = func(list)
print(reversed_list)

Original list:
[1, 2, 3, 4, 5, 6, 7]
Reversed list:
[7, 6, 5, 4, 3, 2, 1]

### Assignment 14: List Rotation

Write a function that rotates a list by n positions. Print the original and rotated lists.

In [67]:
def rotate_list(lst, n):
    # Rotates the list to the left by n positions
    n = n % len(lst)  # Handles cases where n > len(lst)
    return lst[n:] + lst[:n]

# Example list
my_list = [1, 2, 3, 4, 5]

# Rotate by 2 positions
rotated = rotate_list(my_list, 2)

# Print original and rotated lists
print("Original List:", my_list)
print("Rotated List:", rotated)

Original List: [1, 2, 3, 4, 5]
Rotated List: [3, 4, 5, 1, 2]

### Assignment 15: List Intersection

Write a function that takes two lists and returns a new list containing only the elements that are present in both lists. Print the intersected list.

In [68]:
def intersect_lists(list1, list2):
    return [item for item in list1 if item in list2]

# Example lists
list_a = [1, 2, 3, 4, 5]
list_b = [4, 5, 6, 7, 8]

# Get intersection
common_elements = intersect_lists(list_a, list_b)

# Print result
print("Intersected List:", common_elements)

Intersected List: [4, 5]